.container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 70px 0px 30px;
    background-color: lightblue;
    color: black;
    font-family: "Changa", sans-serif;
    box-sizing: border-box;
}

.content{
    min-height: 80vh;
    width: 80vw;
    background-color: white;
    border-radius: 20px;
    padding: 0px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.content a{
    color: black;

}
.reciters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: white;
    z-index: 2;
}

.reciters a{
    color: black;
    padding: 10px 20px;
    border: 1px solid dodgerblue;
    border-radius: 10px;
    transition: 0.5s;
}
.reciters a:hover{
    color: white;
    background-color: dodgerblue;
    
}

.letter{
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    display: block;
    font-size: 20px;
}

.search{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .search input{
        font-family: "Changa", sans-serif;
        color: black;
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 3px solid dodgerblue;
        border-radius: 5px;
        padding: 5px 10px;
        margin-bottom: 30px;
        width: 300px;
    }
    
    .search input::placeholder{
        color: black;
    }
    
    .search svg{
        position: absolute;
        left: 0px;
        top: 15px;
        cursor: pointer;
        color: black;

    }
    
    
    @media screen and (max-width : 1250px) {

        .content{
            width: 70%;
        }
    

    }
    .nocontent{
        position: absolute;
        bottom: 50px;
    }