.footer{
    width: 100vw;
    padding: 30px 50px 10px;
    background-color:dodgerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Changa", sans-serif;
    justify-content: center;
}

.footer_line{
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-color: white;
}

.footer_top{
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.footer_top_right{
    display: flex;
    flex-direction: column;
}

.footer_top_right h3,
.footer_top_left h3{
    font-size: 25px;
    line-height: 0;
}

.footer_top_right ul li{
    margin: 5px 0px;
}

.footer_top_left{
    margin-left: 50px;
}

.footer_top_left svg{
    font-size: 30px;
    margin: 20px 10px;
    cursor: pointer;
}